<h1><%= @municipe.name %></h1>

<ul>
  <li>CPF: <%= @municipe.cpf %></li>
  <li>CNS: <%= @municipe.cns %></li>
  <li>Email: <%= @municipe.email %></li>
  <li>Birthdate: <%= @municipe.birth_date %></li>
  <li>Phone: <%= @municipe.phone %></li>
  <li>Status: <%= @municipe.status %></li>
</ul>
